
.header {
    grid-area: h;
    position: relative;
    background: linear-gradient(to right, #ff29d7, #079daa);
    border-color: transparent;
    border-radius: 0;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.37);
}
.header img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    height: 40px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}