.nav {
    grid-area: n;
    padding: 10px 5px 5px 0;
    background-color: #FAFAFA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
}

    .item {

    }
    .item a{
        display: block;
        color: #656565;
        font: 600 18px/20px 'Roboto', 'Candara Light';
        text-transform: none;
        text-decoration: none;
        padding: 7px 25px;
    }

    .item a.active{
        border-radius: 0 20px 20px 0;
        background: rgba(0, 0, 0, 0.1);
        color: #673ab7;
    }

    .friends{

    }


